<%- include("partials/header")%> 
<body>
    <%- include("partials/navbar")%> 

    <div class="container mt-4 text-center">

    <h1>Sorry we could not could find <%= search %> </h1>
    <p>But we are working on it . Stay Tuned!</p>

</div>
</body>


</html>