
<%- include("partials/header") %> 


<body>
    <%- include("partials/navbar") %> 
    

<div class="container text-center mt-5">
    <h1>WELCOME TO SHOP US!</h1>
</div>

<%- include("partials/pics") %> 


</body>
</html>